body {
    margin: 0;
    font-family: poppins, sans-serif;
}

nav {
    width: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
}

.lang {
    font-size: 14px;
    font-weight: bold;
}

.lang a {
    text-decoration: none;
    color: #555;
    margin: 0 4px;
}

.lang a.active {
    color: #003399;
}

.logo {
    flex: 1;
    text-align: center;
}

.logo img {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
    color: #003399;
}

.nav-menu .dropdown {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.nav-menu div:hover {
    color: #f9ee5e;
    transition-duration: 0.3s;
}

.nav-menu div span {
    display: block;
    font-size: 12px;
    color: #FFCC00;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #2a57b3;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    padding: 30px 40px;
    border-radius: 0 0 20px 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    min-width: 100%;
    z-index: 999;
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 6px 0;
    font-weight: bolder;
}

.dropdown-content a:hover {
    color: #f9ee5e;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.multi-col div {
    flex: 1;
}

#dropdown a {
    text-decoration: none;
    color: #1e3a8a;
}

#dropdown a:hover {
    color: #f9ee5e;
    transition-duration: 0.3s;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 110px;
}

.slides {
    display: flex;
    transition: transform 0.8s ease;
}

.slides img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.hero {
    position: relative;
    background: #ffeb3b;
    text-align: center;
    padding: 100px 20px 150px;
    overflow: hidden;
    height: 170px;
}

.hero h2 {
    color: #1e3a8a;
    margin: 0;
    font-size: 24px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #1e3a8a;
    margin: 0px 0;
}

.hero h1 span {
    background: #df6b48;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-image {
    position: absolute;
    right: 0px;
    bottom: 0;
    max-width: 300px;
}

.hero-image2 {
    position: absolute;
    left: 0px;
    bottom: 0;
    max-width: 300px;
}

.hero-image img {
    width: 100%;
    height: 180px;
    padding-bottom: 120px;
}

.hero-image2 img {
    width: 100%;
    height: 180px;
    padding-bottom: 130px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.attractions {
    text-align: center;
    padding: 40px 20px;
}

.attractions h2 {
    font-size: 28px;
    color: #ffea00;
    max-width: 800px;
    margin: 0 auto 40px;
    font-weight: 700;
}

.attractions h1 {
    font-size: 36px;
    color: #3d60a2;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 700;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

.card {
    min-width: 300px;
    flex: 0 0 auto;
    border-radius: 20px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ffea00;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.caption {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #df6b48;
}

footer {
    background: #3d60a2;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.ornamen1 {
    position: static;
    left: 0;
    bottom: 0;
    max-width: 300px;
}


.footer {
    position: relative;
    background: #3562a6;
    color: white;
    padding: 40px 60px 20px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-middle,
.footer-right {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

.footer-contact p {
    margin: 4px 0;
    font-size: 14px;
}

.footer-middle h3 {
    color: #FFCC00;
    margin-bottom: 10px;
}

.footer-middle a {
    text-decoration: none;
    color: white;
}

.footer-left a {
    text-decoration: none;
    color: white;
}

.footer-right h3 {
    color: #FFCC00;
    margin-bottom: 10px;
}

.footer-right p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
}

.socials {
    margin-top: 15px;
}

.socials img {
    width: 20px;
    margin-right: 0px;
    margin-left: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 20px;
}

.footer-contact p i,
.socials i {
    font-size: 20px;
    margin-right: 8px;
    vertical-align: middle;
    color: #ffcc00;
}

.socials a {
    margin-right: 10px;
    font-size: 28px;
    color: white;
    transition: 0.3s;
}

.socials a:hover {
    color: #ffcc00;
}

.footer-splash {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: auto;
    pointer-events: none;
}